{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  Zahid portfolio
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static '/info_scape_app/post.css' %}" />
  <link rel="stylesheet" href="{% static '/info_scape_app/index.css' %}" />
{% endblock %}

{% block content %}
  <section id="welcome">
    <header>
      <img src="{% static 'info_scape_app/images/profile.jpg' %}" alt="Zahid's - Author of this portfolio" />
      <h2>Zahid's portfolio</h2>
    </header>
    <p>Hi, I am Zahid and i love coding and blog about tech</p>
  </section>

  <section id="latest-posts">
    <h2>My Latest posts</h2>

    <ul>
      {% for post in posts %}
        {% include 'info_scape_app/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>

  <section id="about">
    <h2>What I Do</h2>
    <p>I love programming and like to help other and enjoy exploring technologies.</p>
    <p>My goal is be Best and go beyond the capability I have</p>
  </section>
{% endblock %}
