{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  {{ page_title }}
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static '/info_scape_app/post-detail.css' %}" />
{% endblock %}

{% block content %}
  <section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
      {% for tag in tags %}
        <span class="tag">{{ tag.caption }}</span>
      {% endfor %}
    </div>
    <article>
      <img src="{% static 'info_scape_app/images/'|add:post.image_name %}" alt="All post image" />

      <address>
        by <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a>
      </address>
      <div>
        Last updated on <time>{{ post.date|date:'d M Y' }}</time>
      </div>
    </article>
  </section>
  <main>
    <p>{{ post.content|linebreaks }}</p>
  </main>
{% endblock %}
