{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  Contact Me
{% endblock %}

{% block css_files %}
  {% comment %} <link rel="stylesheet" href="{% static '/contact_me/contact_me.css' %}" /> {% endcomment %}
  <link rel="stylesheet" href="{% static '/contact_me/contact_me.css' %}" />
{% endblock %}

{% block content %}
  <form action="" class="contact-me-form" method="POST" >
    {% csrf_token %}

    <label for="name">Name</label>
    <input type="text" id="name" name="name" placeholder="Enter your name" required />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" placeholder="Enter your email" required />

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="Enter your message" required></textarea>

    <input type="submit" value="Submit" />
  </form>
{% endblock %}
